@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=UnifrakturMaguntia&display=swap');
*{
    box-sizing: border-box;
    word-wrap: normal;
    flex-wrap: wrap;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header>h2{
    font-family: 'UnifrakturMaguntia', cursive;
    
}
#dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dashboard>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%;
}
#dashboard>div>h3{
    text-align: center;
}
button{
    margin: 8px;
}

.divLibros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.portadas{
    width: 230px;
    height: 370px;

}
#iniciarSesion{
    display: flex;
    flex-direction: column;
    width: 15%;
}
#iniciarSesion>#logout{
    display: none;
}

/* //-----------Media queries-------------// */
@media only screen and (min-width: 430px){
    header>h1{
        align-items: flex-start;
    }
    #dashboard{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    #dashboard>div{
        flex: 50%;
        width: 50%;
    }
    #NuevoDash{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    .divLibros{
        flex: 50%;
        width: 50%;
    }
    .portadas{
        width: 185px;
        height: 310px;
    }
}

@media only screen and (min-width: 850px){
    #dashboard{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    #dashboard>div{
        flex: 25%;
        width: 25%;
    }
    #NuevoDash{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    .divLibros{
        flex: 25%;
        width: 25%;
    }
}